body{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
span{
    color: tomato;
}
.half1{
    width:50%;
    padding-left: 10%;
    padding-right: 100px;
    



}

.half2{
    width: 80%;
    /* padding-left:150px ; */
    /* padding-top: 20px; */
    /* padding: 20px; */


}


section{ 
    display: flex;
    margin-bottom:150px ;


}
.link{
    text-decoration: none;
    padding: 10px 40px;
    border-radius:15px ;
    background-image: linear-gradient(	#FF6347,#FF8C00);
    color: white;
    font-weight: 600;


 
}
.nm{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;


}
.DREAM{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position:right;

}